<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">NgNetCore</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">


        <!--<app-login-menu></app-login-menu>-->
        <!--<ul class="navbar-nav" *ngIf="isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName() }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
          </li>
        </ul>
        <ul class="navbar-nav" *ngIf="!isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]='["/authentication/register"]'>Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]='["/authentication/login"]'>Login</a>
          </li>

        </ul>-->


        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/credito-register']">Créditos</a>
          </li>
          <li class="nav-item"  [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/clientes-consulta']">Consulta de Clientes</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/ruta-add']">Ruta</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link"  [routerLink]="['/ruta-list']">Consultar Ruta </a>
          </li>
        </ul>




      </div>
    </div>
  </nav>

  
</header>
